.contenedor {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0px 4px 15px rgb(0, 0, 0);
}


.titulo-bienvenida {
    
    font-family: lato;
}

