<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innova y Emprende</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">                
  
</head>

<body>

    
    <nav>
        <div class="logo-area">
            <img src="{{ url_for('static', filename='styles/imagenes/logo_nova-F.png') }}" alt="logo">
            <span>Innova y Emprende</span>
        </div>

        <ul>
            <li><a href="#plataforma">Plataforma</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#recursos">Recursos</a></li>
            <li><a href="#precios">Precios</a></li>
        </ul>

        <div style="display: flex; gap: 12px;">
            <a class="btn-nav" href="{{ url_for('login') }}">Iniciar sesión</a>
            <a class="btn-nav" style="background: #001A33; border: color white; color: white;" href="{{ url_for('registrar') }}">Registrarse</a>
        </div>
    </nav>

    <!-- HERO -->
    <section class="hero">
        <h1>El futuro del emprendimiento comienza aquí</h1>
        <p>Impulsa tus ideas, crea oportunidades y transforma tu proyecto con la ayuda de herramientas modernas y visión innovadora.</p>

        <div class="form-container">
            <a href="{{ url_for('registrar') }}" class="btn-green" style="text-decoration: none; display: inline-block;">Registrarme</a>
            <a href="{{ url_for('login') }}" class="btn-blue-border" style="text-decoration: none; display: inline-block;">Iniciar sesión</a>
        </div>

        <!-- Imagen del búho como ilustración principal -->
        <img src="{{ url_for('static', filename='styles/imagenes/buho.png') }}" alt="logo">
    </section>

</body>
</html>